* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#hero-1 {
  height: 100vh;
  background: linear-gradient(#a80000, #4e1919);
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header nav a {
  font-family: "Inter Tight", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  transition: color 0.3s ease;
  text-decoration: none;
}
nav a:hover,
.active {
  color: #ffa500;
}
nav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  padding: 10px 55px;
  background: #a80000;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#hero-2 {
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dot1 {
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.dot2 {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.dot3 {
  position: absolute;
  top: 54%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.dot4 {
  position: absolute;
  top: 79%;
  left: 39%;
  transform: translate(-50%, -50%);
}
